<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jared.linden.timingtrials">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".TimingTrialsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".result.ResultActivity"></activity>
        <activity
            android:name=".timing.TimingActivity"
            android:label="@string/title_activity_timing"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.jared.linden.timingtrials.MainActivity" />
        </activity>
        <activity
            android:name=".setup.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewdata.TimingTrialsDbActivity" />
        <service android:name=".timing.TimingService" />

        <activity
            android:name=".edititem.EditItemActivity"
            android:label="@string/title_activity_edit_item" />
    </application>

</manifest>